 html, body {
  overflow-x: hidden;
  width: 100%;
}

.row {
display: flex;
 justify-content: center; 
text-align: center;
} 

.btn .btn-primary {
  align-items: center;
}

footer {
  background-color: black;
  color:white;
  text-align: center;
  padding: 30px
}

.category {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.category img {
  height: 200px;
  width: auto;
  object-fit: contain;
  margin-top: 10px;
}

.rowProduct {
display: flex;
 justify-content: center; 
text-align: center;
} 



.rowProduct2 {
display: flex;
 justify-content: center; 
text-align: center;
} 

.product {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card-img-top {
  height: 200px;
  width: auto;
  object-fit: contain;
  margin-top: 10px;
}


